/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/venv
/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/.env
/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/backend/venv
/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/backend/.env
/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/frontend/node_modules
/Users/harshringsia/wemakedev-hackathon/threat-seeker-ai/frontend/node_modules
.venv