fastapi
uvicorn
langchain
google-generativeai
langchain-google-genai
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
splunk-sdk
elasticsearch
python-decouple